@import '~@angular/material/theming';

.mat-toolbar {
  background-color: map-get($mat-red, A700);
  color: whitesmoke;
  font-family: 'Jolly Lodger', cursive;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  background-image: url('/assets/splatter.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
}

.content {
  padding: 100px 0 50px 0;
}
