* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
  color: whitesmoke;
}

button:focus,
img:focus,
.lose-outline,
canvas {
  outline: 0;
}

.pointer {
  cursor: pointer;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: stretch flex-start;
  align-items: stretch;
  background-image: url('/assets/img/splatter.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.head {
  font-size: 47px;
  height: 90px;
  color: black;
  flex-direction: row;
  display: flex;
  place-content: center;
  align-items: center;
  font-family: 'Jolly Lodger', cursive;
}

#board {
  display: flex;
  flex: 7;
  flex-direction: row;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.dropzone {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 10px double #000000;
  font-size: 2.5rem;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background-color: white;
}

.dropzone .rock {
  margin: 0 20px;
  cursor: no-drop;
}

#rocks {
  height: 120px;
  flex-direction: row;
  display: flex;
  place-content: center;
  align-items: center;
}

#rocks>* {
  margin: 0 10px;
  cursor: cell;
}

.rock {
  width: 80px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

canvas {
  border-radius: 15px;
}