* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
  color: #0E1C1C;
}

button:focus,
img:focus,
.lose-outline,
canvas {
  outline: 0;
}

.pointer {
  cursor: pointer;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: stretch flex-start;
  align-items: stretch;
  background-image: url('/assets/img/splatter.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.head {
  font-size: 47px;
  height: 90px;
  color: #0E1C1C;
  flex-direction: row;
  display: flex;
  place-content: center;
  align-items: center;
  font-family: 'Jolly Lodger', cursive;
}

#board {
  display: flex;
  flex: 7;
  flex-direction: row;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.dropzone {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 10px double #0E1C1C;
  background-color: rgba(158, 147, 147, 0.0);
}

.dropzone .rock {
  margin: 0 20px;
  cursor: no-drop;
}

#rocks {
  height: 120px;
  flex-direction: row;
  display: flex;
  place-content: center;
  align-items: center;
}

#rocks>* {
  margin: 0 10px;
  cursor: cell;
}

.rock {
  width: 80px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0E1C1C;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9F1306;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #A90209;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #D65A27;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}