* {
    box-sizing: border-box;
  }
  
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: black;
    color: whitesmoke;
  }
  
  button:focus,
  img:focus,
  .lose-outline {
    outline: 0;
  }
  
  .pointer {
    cursor: pointer;
  }

  .main-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('/assets/splatter.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
  }

  .main-container > .board, .main-container > .rocks {
    display: flex;
    flex-direction: column;
  }

  .head {
    font-size: 47px;
    color: whitesmoke;
    font-family: 'Jolly Lodger', cursive;
    text-align: center;
    margin-top: 15px;
  }

  .board {
    flex: 7;
  }

  .rocks {
    flex: 1;
    justify-content: center;
    align-items: center;
  }